%post --erroronfail

# disable root password based login
cat >> /etc/ssh/sshd_config << EOF
PermitRootLogin without-password
UseDNS no
EOF

# For SELinux, we must relabel
touch /.autorelabel

# A couple more files from euclayptus git.  Cloud-init should do this.
cat <<EOF >>/etc/udev/rules.d/99-euca-udev.rules
KERNEL=="xvd*", PROGRAM="/sbin/euca-udev %k", SYMLINK+="%c"
EOF

cat <<EOF >>/sbin/euca-udev
#!/bin/bash
if [ "\$#" -ne 1 ] ; then
  echo "\$0 <device>" >&2
  exit 1
else
  if echo "\$1"|grep -qE 'xvd[a-z][0-9]?' ; then
    echo "\$1" | sed -e 's/xvd/sd/'
  else
    echo "\$1" 
  fi
fi
EOF
chmod +x /sbin/euca-udev

cat <<EOF >>/etc/dracut.conf.d/02-euca.conf
add_dracutmodules+=" euca-udev "
EOF

mkdir -p /usr/lib/dracut/modules.d/99euca-udev
cat <<EOF >/usr/lib/dracut/modules.d/99euca-udev/module-setup.sh
#!/bin/bash

install() {
    inst_rules 99-euca-udev.rules

    dracut_install /usr/sbin/euca-udev
}
EOF
chmod +x /usr/lib/dracut/modules.d/99euca-udev/module-setup.sh

dracut /boot/initramfs-new.img
%end

