# Build a basic Fedora 14 AMI
lang en_US.UTF-8
keyboard us
timezone US/Eastern
auth --useshadow --enablemd5
skipx
selinux --disabled
firewall --disabled
bootloader --timeout=1 --append="console=ttyS0"
network --bootproto=dhcp --device=eth0 --onboot=on
services --enabled=network

# Uncomment the next line
# to make the root password be password
# By default the root password is emptied
#rootpw password

#
# Define how large you want your rootfs to be
# NOTE: S3-backed AMIs have a limit of 10G
#
part / --size 4600 --fstype ext3 --label cloudimg

#
# Repositories
repo --name=fedora --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-17&arch=$basearch
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f17&arch=$basearch

#
#
# Add all the packages after the base packages
#
%packages --excludedocs --nobase --instLangs=en
@core
system-config-securitylevel-tui
audit
pciutils
bash
coreutils
lokkit
kernel
grub2
e2fsprogs
passwd
policycoreutils
chkconfig
rootfiles
yum
vim-minimal
acpid
openssh-clients
openssh-server
curl

#Allow for dhcp access
dhclient
iputils

cloud-init

%end

#
# Add custom post scripts after the base post.
#
%post
%end

# more ec2-ify
%post --erroronfail
# disable root password based login
cat >> /etc/ssh/sshd_config << EOF
PermitRootLogin without-password
UseDNS no
EOF

# run in runlevel 3
rm -f /etc/systemd/system/default.target
ln -s /lib/systemd/system/multi-user.target /etc/systemd/system/default.target

# Enable root login using SSH cloud-init
sed -i s/ec2-user/root/g /etc/cloud/cloud.cfg
sed -i s/disable_root$/disable_root:\ 0/g /etc/cloud/cloud.cfg

%end

